<app-sidenav></app-sidenav>
<section class="issues-section">
  <div class="banner">
    <div class="banner-item">

      <div class='section-title'>
        <i class="material-icons">announcement</i> <span>Issues</span>
      </div>

      <div class="issue-search">
        <div class="input-wrapper">
          <i class="material-icons">search</i>
          <input type="text" placeholder="Search for an issue">
        </div>

        <div class="issue-list-container">
          <md-toolbar color="light">Yow</md-toolbar>
        </div>
      </div>

    </div>

  </div>
  <div class="issue-main">
    <div class="issue-add-container">
      <button md-raised-button color="accent" (click)="addIssueModal()">ADD ISSUE</button>
    </div>

    <!-- <ul>
      <li *ngFor="let issue of issues | async">
        <div innerHTML="{{ issue.details }}"></div>
      </li>
    </ul> -->


  </div>
</section>
