<md-sidenav-container class='sidenav-container'>
  <md-sidenav mode="side" opened="true" class='sidenav'>
    <div class="sidenav-logo">
      <img src="assets/img/main-logo.svg" width="32" height="32">
      <span>Daily Issues</span>
    </div>
    <div class="sidenav-content">
      <ul class="sidenav-list-wrapper">
        <li>
          <a class="sidenav-list" [routerLink]="['/dashboard']" [routerLinkActive]="['sidenav-active']">
            <i class="material-icons">dashboard</i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a class="sidenav-list" [routerLink]="['/calendar']" [routerLinkActive]="['sidenav-active']">
            <i class="material-icons">date_range</i> <span>Calendar</span>
          </a>
        </li>
        <li>
          <a class="sidenav-list" [routerLink]="['/issues']" [routerLinkActive]="['sidenav-active']">
            <i class="material-icons">announcement</i> <span>Issues</span>
          </a>
        </li>
        <li>
          <a class="sidenav-list" [routerLink]="['/notes']" [routerLinkActive]="['sidenav-active']">
            <i class="material-icons">lightbulb_outline</i> <span>Notes</span>
          </a>
        </li>
        <li>
          <a class="sidenav-list" [routerLink]="['/contacts']" [routerLinkActive]="['sidenav-active']">
            <i class="material-icons">contacts</i> <span>Contacts</span>
          </a>
        </li>

      </ul>

    </div>

  </md-sidenav>

</md-sidenav-container>
<div class="top-nav">
  <md-toolbar>
    <span class="example-fill-remaining-space"></span>
    <div [mdMenuTriggerFor]="userMenu" class="user-menu-container">
      <img src="assets/img/main-logo.svg" width="42" height="42">
      <span>{{name}}</span>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
    <md-menu [overlapTrigger]="false" #userMenu="mdMenu">
      <ul class='user-submenu'>
        <li>
          <i class="material-icons">account_circle</i> <span>Profile</span>
        </li>
        <li (click)="signout()">
          <i class="material-icons">power_settings_new</i> <span>Logout</span>
        </li>
      </ul>
    </md-menu>
  </md-toolbar>
</div>
