<div class="home-wrap">
  <div class="login-container">
    <h4>Sign in to your account</h4>
    <h5>Don't let unnecessary issues ruin your day.</h5>

    <form (submit)="loginSubmit()">
      <md-input-container>
        <input [(ngModel)]="email" [formControl]="emailFormControl" mdInput placeholder="Email" type="email" name="email" class="input-control">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </md-error>
        <md-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </md-error>
      </md-input-container>

      <md-input-container>
        <input [(ngModel)]="password" [formControl]="passwordFormControl" mdInput placeholder="Password" type="password" name="password"
          class="input-control">
        <md-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </md-error>
      </md-input-container>

      <md-checkbox>Remember me</md-checkbox>
      <a href="#" class="pull-right ">Forgot Password?</a>

      <button type="submit" md-raised-button>Sign in</button>
    </form>

    <div class="separator">
      <span>OR</span>
    </div>
    <div class="social-btns">
      <button class="loginBtn loginBtn--google" md-raised-button>
        Sign in with Google
      </button>

      <button class="loginBtn loginBtn--facebook" md-raised-button>
        Sign in with Facebook
      </button>
    </div>
    <p class="signup">Don't have an account? <a [routerLink]="['register']">Create an account</a> </p>
  </div>


  <div class="main-container">

    <div class="wrapper">

      <img src="assets/img/main-logo.svg" width="150" height="150">
      <p class="welcome">Welcome to the Daily Issues!</p>
      <p class="sub-content">Made with <i class="fa fa-heart" id="heart" aria-hidden="true"></i> for Cindy by Lordwill to manage and schedule fights
        reasonably.
      </p>
      <p class="sub-content">Click <a href="#">here</a> to see all features.</p>

      <a scrollTo href="#mobile-login" md-raised-button class="btnMobile">Get Started</a>
    </div>
  </div>

  <div class="login-mobile" id="mobile-login">

    <h4>Sign in to your account</h4>
    <h5>Don't let unnecessary issues ruin your day.</h5>

    <form (submit)="loginSubmit()">
      <md-input-container>
        <input [(ngModel)]="email" [formControl]="emailFormControl" mdInput placeholder="Email" type="email" name="email" class="input-control">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
          Please enter a valid email address
        </md-error>
        <md-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </md-error>
      </md-input-container>

      <md-input-container>
        <input [(ngModel)]="password" [formControl]="passwordFormControl" mdInput placeholder="Password" type="password" name="password" class="input-control">
        <md-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </md-error>
      </md-input-container>

      <md-checkbox>Remember me</md-checkbox>
      <a href="#" class="pull-right ">Forgot Password?</a>

      <button type="submit" md-raised-button>Sign in</button>
    </form>

    <div class="separator">
      <span>OR</span>
    </div>
    <div class="social-btns">
      <button class="loginBtn loginBtn--google" md-raised-button>
        Sign in with Google
      </button>

      <button class="loginBtn loginBtn--facebook" md-raised-button>
        Sign in with Facebook
      </button>
    </div>
    <p class="signup">Don't have an account? <a [routerLink]="['register']">Create an account</a> </p>
  </div>

</div>
