<div class="edit-issue-title-wrapper">
  <h2 md-dialog-title>Edit Issue</h2>
  <button md-mini-fab [md-dialog-close]="true" color="warn"><md-icon>close</md-icon></button>
</div>
<form (submit)="editIssueSubmit()" class='edit-issue-form'>
  <md-input-container class='full-width'>
    <input [(ngModel)]="issueTitle" [formControl]="issueFormControl" type="text" name="issueTitle" mdInput placeholder="Title" value="{{editIssueObj.title}}">
    <md-error *ngIf="issueFormControl.hasError('required')">
      Title is <strong>required</strong>
    </md-error>
  </md-input-container>

  <div class="date-container">
    <div class="start-date-wrapper">
      <md-input-container>
        <input [(ngModel)]="startDate" [formControl]="dateStart" mdInput [mdDatepicker]="startCalendar" [min]="minDate" [max]="maxDate"
          name="startDate" placeholder="Date start" value="{{editIssueObj.startDate}}">
        <button mdSuffix [mdDatepickerToggle]="startCalendar"></button>
        <md-error *ngIf="dateStart.hasError('required')">
          Start date is <strong>required</strong>
        </md-error>
      </md-input-container>
      <md-datepicker touchUi="true" #startCalendar></md-datepicker>
    </div>

    <div class="end-date-wrapper">
      <md-input-container>
        <input [(ngModel)]="endDate" [formControl]="dateEnd" mdInput [mdDatepicker]="endCalendar" [min]="minDate" [max]="maxDate"
          name="endDate" placeholder="Date end">
        <button mdSuffix [mdDatepickerToggle]="endCalendar"></button>
        <md-error *ngIf="dateEnd.hasError('required')">
          End date is <strong>required</strong>
        </md-error>
      </md-input-container>
      <md-datepicker touchUi="true" #endCalendar></md-datepicker>
    </div>
  </div>

  <label class='details-label'>Details</label>
  <div [froalaEditor]='options' [(ngModel)]="editIssueObj.details" name="issueDetails"></div>
  <br>
  <md-select [formControl]="issuePriority" placeholder="Priority" [(ngModel)]="editIssueObj.priority" name="priorities">
    <md-option *ngFor="let priority of priorities" [value]="priority.value">
      {{priority.viewValue}}
    </md-option>
    <md-error *ngIf="issuePriority.hasError('required')">

    </md-error>
  </md-select>

  <br>
  <button type="submit" md-raised-button class='edit-btn' color="accent">edit issue</button>

</form>
